<div class="max-w-[946px] mx-auto px-4 py-8 lg:px-0">
  <h1 class="text-2xl font-bold mb-6">고객센터</h1>

  <div role="tablist" class="tabs tabs-border mb-6">
    <a
      role="tab"
      class="tab text-[15px]"
      routerLink="notice"
      routerLinkActive="tab-active"
    >공지사항</a>
    <a
      role="tab"
      class="tab text-[15px]"
      routerLink="faq"
      routerLinkActive="tab-active"
    >FAQ</a>
    <a
      role="tab"
      class="tab text-[15px]"
      routerLink="inquiry"
      routerLinkActive="tab-active"
    >1:1문의하기</a>
  </div>

  <router-outlet />
</div>
